* {
  color: white;
}

body {
  background-color: #000000;
  font-family: "Courier New", Courier, monospace;
}

button {
  color: black;
}

select {
  color: black;
}

input {
  background-color: #e8e8e8;
  color: black;
}
